[*]
# Non-configurable behaviors
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Configurable behaviors
# end_of_line = lf - there is no 'auto' with a .editorconfig
indent_style = space
indent_size = 4
max_line_length = 128

[*.cs]
# .NET formatting rules
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
# CSharp formatting rules
# New-line options
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation options
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = true
# Spacing options
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false
# Wrap options
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# Roslynator
# CA1822:将成员标记为 static
dotnet_diagnostic.CA1822.severity = warning

# Add blank line after embedded statement
dotnet_diagnostic.rcs0001.severity = suggestion
# Add blank line after #region
dotnet_diagnostic.rcs0002.severity = suggestion
# Add blank line after using directive list
dotnet_diagnostic.rcs0003.severity = suggestion
# Add blank line before #endregion
dotnet_diagnostic.rcs0005.severity = suggestion
# Add blank line between accessors
dotnet_diagnostic.rcs0007.severity = suggestion
# Add blank line between closing brace and next statement
dotnet_diagnostic.rcs0008.severity = suggestion
# Add blank line between declaration and documentation comment
dotnet_diagnostic.rcs0009.severity = suggestion
# Add blank line between declarations
dotnet_diagnostic.rcs0010.severity = suggestion
# Add/remove blank line between single-line accessors
dotnet_diagnostic.rcs0011.severity = suggestion
# Options: roslynator_blank_line_between_single_line_accessors
# Add blank line between single-line declarations
dotnet_diagnostic.rcs0012.severity = suggestion
# Add blank line between single-line declarations of different kind
dotnet_diagnostic.rcs0013.severity = suggestion
# Add/remove blank line between using directives
dotnet_diagnostic.rcs0015.severity = suggestion
# Options: roslynator_blank_line_between_using_directives
# Add blank line after top comment
dotnet_diagnostic.rcs0049.severity = suggestion
# Add blank line before top declaration
dotnet_diagnostic.rcs0050.severity = suggestion
# Add/remove new line before 'while' in 'do' statement
dotnet_diagnostic.rcs0051.severity = suggestion
# Options: roslynator_new_line_before_while_in_do_statement
# Place new line after/before equals token
dotnet_diagnostic.rcs0052.severity = suggestion
# Options: roslynator_equals_token_new_line
# Add/remove blank line between switch sections
dotnet_diagnostic.rcs0061.severity = suggestion
# Options: roslynator_blank_line_between_switch_sections
